import('IRanges', 'GenomicRanges', 'methods')
importFrom('S4Vectors', 'nrun', 'runValue')
importFrom('rtracklayer', 'import')
importFrom('grDevices', 'as.raster', 'rainbow')
importFrom('gplots', 'colorpanel')
importFrom('tcltk', 'tkProgressBar', 'setTkProgressBar', 'getTkProgressBar')
importFrom('GenomeInfoDb', 'seqlevels', 'seqlevels<-', 'seqlengths')
export('GenometriCorrelation', 'VisualiseTwoIRanges', 'MapRangesToGenomicIntervals')
exportClasses('GenometriCorrConfig', 'GenometriCorrResult')
exportMethods('show', 'graphical.report', 'run.config', 'visualize')
