import('IRanges', 'GenomicRanges', 'GenomicFeatures', 'methods','TxDb.Hsapiens.UCSC.hg19.knownGene')
importFrom('rtracklayer', 'import')
importFrom('S4Vectors','subjectHits','queryHits')
importFrom('grDevices', 'as.raster', 'rainbow')
importFrom('gplots', 'colorpanel')
importFrom('tcltk', 'tkProgressBar', 'setTkProgressBar', 'getTkProgressBar')
importFrom('GenomeInfoDb', 'seqlevels', 'seqlevels<-', 'seqlengths')
importFrom('grDevices', 'colorRamp', 'dev.off', 'dev.size', 'pdf','rgb')
importFrom('graphics', 'axis', 'hist', 'layout', 'lines', 'mtext','par', 'plot', 'plot.new', 'rasterImage', 'text', 'xinch')
importFrom('stats', 'ecdf', 'integrate', 'ks.test', 'pbinom', 'punif','runif')
importFrom('utils', 'getTxtProgressBar', 'head', 'packageDescription','read.table', 'setTxtProgressBar', 'tail', 'txtProgressBar')
export('GenometriCorrelation', 'VisualiseTwoIRanges', 'VisualiseTwoGRanges', 'MapRangesToGenomicIntervals')
exportClasses('GenometriCorrConfig', 'GenometriCorrResult')
exportMethods('show', 'graphical.report', 'run.config', 'visualize')
